 .u-section-1 {
  background-image: url("images/862f7b847ccf135dcbcd54df590caf49b764450ebeced97796bd743b4e6b6c3226f14f4a16b875b63f8ec770c62dbcda717e1d97b2a340b94e5b33_1280.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1000px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 121px;
  margin: 92px auto 0;
}

.u-section-1 .u-list-1 {
  width: 1034px;
  margin: 149px auto 60px;
}

.u-section-1 .u-repeater-1 {
  min-height: 291px;
  grid-template-columns: 100%;
  grid-gap: 43px 43px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 2px 2px 8px 0px rgba(242,242,242,1);
  margin: 0;
  padding: 9px 459px 10px;
}

.u-section-1 .u-icon-1 {
  margin-right: 5px;
  vertical-align: 0px;
  font-size: 1.0715em;
  width: 15px;
  height: 20px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 2px 2px 8px 0px rgba(242,242,242,1);
  margin: 0;
  padding: 9px 459px 10px;
}

.u-section-1 .u-icon-2 {
  margin-right: 0;
  vertical-align: 0px;
  font-size: 1.0715em;
  width: 15px;
  height: 20px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 2px 2px 8px 0px rgba(255,255,255,1);
  margin: 0;
  padding: 9px 459px 10px;
}

.u-section-1 .u-icon-3 {
  margin-right: 5px;
  vertical-align: 0px;
  font-size: 1.0715em;
  width: 15px;
  height: 20px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 869px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 183px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
    padding-right: 462px;
    padding-bottom: 11px;
    padding-left: 461px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
    margin-right: auto;
    padding-right: 462px;
    padding-bottom: 11px;
    padding-left: 461px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 71px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: auto;
    margin-right: auto;
    padding-right: 462px;
    padding-bottom: 11px;
    padding-left: 461px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-1 .u-image-1 {
    width: 541px;
    height: 115px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 171px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 161px;
    padding-bottom: 9px;
    padding-left: 160px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 7px;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 161px;
    padding-bottom: 9px;
    padding-left: 160px;
  }

  .u-section-1 .u-btn-3 {
    padding-right: 161px;
    padding-bottom: 9px;
    padding-left: 160px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 4px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: auto;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 72px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 133px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 13px;
    padding-right: 98px;
    padding-left: 98px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 13px;
    padding-right: 98px;
    padding-left: 98px;
  }

  .u-section-1 .u-icon-2 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 13px;
    padding-right: 98px;
    padding-left: 98px;
  }
} .u-section-2 {
  background-image: url("images/862f7b847ccf135dcbcd54df590caf49b764450ebeced97796bd743b4e6b6c3226f14f4a16b875b63f8ec770c62dbcda717e1d97b2a340b94e5b33_1280.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 601px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  width: 514px;
  margin: 75px auto 0;
}

.u-section-2 .u-form-1 {
  height: 311px;
  width: 678px;
  margin: 74px auto 68px;
}

.u-section-2 .u-form-group-1 {
  margin-left: auto;
}

.u-section-2 .u-label-1 {
  letter-spacing: 0px;
}

.u-section-2 .u-input-1 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 300;
}

.u-section-2 .u-form-group-2 {
  margin-left: auto;
}

.u-section-2 .u-label-2 {
  letter-spacing: 0px;
}

.u-section-2 .u-input-2 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 300;
}

.u-section-2 .u-form-group-3 {
  margin-left: auto;
}

.u-section-2 .u-label-3 {
  letter-spacing: 0px;
}

.u-section-2 .u-input-3 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 300;
}

.u-section-2 .u-form-group-4 {
  margin-left: auto;
}

.u-section-2 .u-btn-1 {
  font-size: 1rem;
  margin-left: auto;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  width: 30%;
  padding: 10px 29px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-2 .u-form-1 {
    height: 351px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.8125rem;
    margin-top: 70px;
  }

  .u-section-2 .u-form-1 {
    margin-bottom: 47px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-1 {
    width: 40%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-top: 60px;
  }

  .u-section-2 .u-form-1 {
    height: 401px;
    margin-top: 40px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-1 {
    width: 50%;
  }
}